/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 21, 2020, 9:58:27 PM
    Author     : Mitchell Vivian, Daniel Strauch
*/
@import url('https://fonts.googleapis.com/css2?family=Texturina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

* {
    font-family: 'Kaushan Script', cursive;
}

body {
    padding: 0px;
    margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Texturina', serif;
}

.content {
    display: grid;
    width: 500px;
    margin: auto;
    justify-self: center;
}
.nav {
    background-color: black;
    color: white;
    margin: 0px;
    padding: 0px;
}
.nav p {
    
    margin: 0px;
}

.text-field {
    font-family: sans-serif;
}